/* generics */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif;
}

/* utilities */

/* content */

.container {
  max-width: 1200px;
  margin: 0 auto
}

.container-switch-button {
  max-width: 1200px;
  margin: 0 auto
}

.carousel-container {
  position: relative;
}

.carousel-images {
  position: relative;
  height: 50vh;
}

.carousel-images .carousel-img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.carousel-thumbs {
  display: flex;
  height: 150px;
}

.carousel-thumbs .carousel-img.active {
  border: 3px solid red;
  opacity: 1;
}


.carousel-thumbs .carousel-img {
  width: calc(100% / 5);
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.carousel-img.active {
  display: inline-block;
}

.carousel-navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-navigation button {
  font-size: 1.75rem;
  border-radius: 50%;
  border: 1px solid black;
  background-color: bisque;
  padding: 10px;
  opacity: 65%;
}

#left-arrow {
  margin-left: 8px;
}

#right-arrow {
  margin-right: 8px;
}

#switch-button {
  margin: 30px 0px;
  padding: 10px 20px;
}

.switch-button {
  margin: 30px 0px;
  padding: 10px 20px;
  margin-left: 42vw;
}


/* effects */

.carousel-navigation button:hover {
  opacity: 100%;
  cursor: pointer;
}

.carousel-navigation button:active {
  transform: scale(0.95);
}